{% extends 'base.html' %}
 

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</a></li>
  <li class="breadcrumb-item active">User</a></li>
{% endblock %}

{% block content %}

<div align="center" >
	<h1 >Section Name</h1>
	<p>Coach Name</p>
</div>


<br>
<br>

<div class="container" align="center" >
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">New Problem</button>

	<div id="demo" class="collapse">
	    <br> 


	  	<div align="center"  class= " table-responsive " >
		 	<table  class="table table-bordered table-striped table-highlight">
		      	<thead  align="center" class="thead-inverse">
					<tr>
						<th>Topic</th>
						<th>Difficlty</th> 
					</tr>

				</thead>

				<tbody align="center">
					<tr>

						<form method="POST" action="#">
							<td>
								<select name="topic" >
								  <option value="dp">Dynamic Theory</option>
								  <option value="gt">Graph Theory</option>
								  <option value="nt">Number Theory</option>
								  <option value="geo">Geometry</option>
								  <option value="str">String</option>
								</select>

							</td>

							<td>
								<select name="difficulty" >
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>


							</td>



						    <input type="submit" value="Add" >
						</form>

	 
					</tr>
				</tbody>


			</table>
		</div>

	    <br>


	</div>
</div>

<br>
<br>

<div align="center" >
	<h1 >Selected Problem</h1>
</div>


<br> 

	<div align="center"  class= " table-responsive " >
		<table  class="table table-bordered table-striped table-highlight">
		  <thead  align="center" class="thead-inverse">
				<tr>
					<th>ID</th>
					<th>Problem Name</th>
					<th>Difficulty Level</th> 
				</tr>

			</thead>

			<tbody align="center">
				<tr>
					<td><a href="#" > Uva 123</td>
					<td> Fill the grid</td>
					<td> 2.9</td> 
				</tr>
				<tr>
					<td><a href="#" > LOJ 1223</td>
					<td> ABC</td>
					<td> 9</td> 
				</tr>
			</tbody>


		</table>
	</div> 



</body>

 



{% endblock %}