{% extends 'base.html' %}
{% load static %} 

{% block breadcrumb %}
  <li class="breadcrumb-item active"> <a href="#"> Home</a></li>
  <li class="breadcrumb-item active"> <a href="#"> Problem Bank</a></li>
{% endblock %}

{% block content %}
<div id ='info' token-id = {{ csrf_token }} href = {% url "getproblem" %} user_pk = {{request.user.pk}} ></div>


<div class="text-center" >
	<h1 class="section-title center">Problem Bank</h1>
</div>

<hr>
<br>

<div class="text-center">
	<label for="topic">Topic: </label>
	<select id = "topic">

	  <option value="DP">Dynamic Programming</option>
	  <option value="GRAPH">Graph Theory</option>
	  <option value="NT">Number Theory</option>
	  <option value="STRING">String</option>
	  <option value="GEO">Geometry</option>
	  <option value="NONE">Untaged</option>
	</select>


	<label for="diff">Difficulty: </label>
	<select id = "diff">

	  <option value="1">Easy</option>
	  <option value="2">Medium</option>
	  <option value="3">Hard</option>
	</select>

 
</div>
 
<br>


<div  class= " table-responsive text-center" >
	<table id = "problemset" class="table table-bordered table-striped table-highlight">

		<thead class="thead-inverse">
			<tr>
				<th>ID</th>
				<th>Problem Name</th>
				<th>Difficulty Level</th>
				<th>Status</th> 
			</tr>

		</thead>


		<tbody>
 
 

		</tbody>
	</table>

	<div id="LoadingImage" style="display: none"> <img src="{% static 'img/loadimage.gif' %} " > </div>
</div> 

</body>

{% endblock %}

{% block script %} 
    <script src="{% static 'js/problembank.js' %}"></script>
{% endblock %}