{% extends 'base.html' %}
 

{% block breadcrumb %}
  <li class="breadcrumb-item active"> <a href="#"> Home</a></li>
  <li class="breadcrumb-item active"> <a href="#"> Problem Bank</a></li>
{% endblock %}

{% block content %}

<div class="text-center" >
	<h1 class="section-title center">Problem Bank</h1>
</div>

<hr>
<br>

<div class="dropup text-center">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Problem Catagory
    <span class="caret"></span></button>
    <ul class="dropdown-menu text-center" >
      <li><a href="{% url 'problembank' 1%} ">Dynamic Programming</a></li>
      <li><a href="{% url 'problembank' 2%}">Graph Theory</a></li>
      <li><a href="{% url 'problembank' 3%}">Number Theory</a></li>
      <li><a href="{% url 'problembank' 4%}">Geometry</a></li>
      <li><a href="{% url 'problembank' 5%}">Flow</a></li>
      <li><a href="{% url 'problembank' 5%}">String</a></li>

    </ul>
</div>
 
<br>


<div  class= " table-responsive text-center" >
<table  class="table table-bordered table-striped table-highlight">
  <thead   class="thead-inverse">
		<tr>
			<th>ID</th>
			<th>Problem Name</th>
			<th>Difficulty Level</th>
			<th>Category</th> 
		</tr>

	</thead>


	<tbody  >

		{% for i in Problems%}

			<tr>
				<td><a href="#" > {{i.number}} </td>
				<td> {{i.title}}</td>
				<td> {{i.difficulty}} </td>
				
				{% if i.category == 1 %}
					<td>DP</td>
				{% elif i.category == 2%}
					<td>Graph Theory</td>					
				{% elif i.category == 3 %}
					<td>Flow</td>					
				{% elif i.category == 4%}
					<td>Number Theory</td>					
				{% else %}
					<td>Geomatry</td>					

				{% endif %}
			</tr>

		{% endfor %}


</table>
</div> 

</body>

{% endblock %}