{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}

  <div class="container">
	    <h1 class="text-center logo my-4">
	      <a href="{% url 'welcome' %}">Contest Helper</a>
	    </h1>

    <h2>Sign up</h2>
    <form method="post" novalidate>
      {% csrf_token %}
		{% for field in form %}
		  <div class="form-group">
		    {{ field.label_tag }}

			{% if form.is_bound %}
		    {% if field.errors %}
				{% render_field field class="form-control is-invalid" %}
				{% for error in field.errors %}
					<div class="invalid-feedback">
						{{ error }}
					</div>			
				{% endfor %}	
				{% else %}
					{% render_field field class="form-control is-valid" %}
				{% endif %}

			{% else %}
				{{ field|add_class:'form-control' }}
			{% endif %}

		    {% if field.help_text %}
		      <small class="form-text text-muted">
		        {{ field.help_text|safe }}  <!-- new code here -->
		      </small>
		    {% endif %}
		  </div>
		{% endfor %}

      <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
  </div>

{% endblock %}