
{% extends 'base.html' %}
{% load static %}
 

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="#">Home</a></li>
  <li class="breadcrumb-item active"><a href = {% url "userprofile" user.username %} >User</a></li>
{% endblock %}

{% block content %}
 
 
<div class="container text-center"   >

	<div id ='info' token-id = {{ csrf_token }} userid = {{user.username}} user-info-url = {% url "getuserinfo" user.username %}></div>

	<h3 class="subheading">Name: {{user.first_name}}</h3>
	<h4 class="subheading">School: <i> {{user.userinfo.school}}</i></h4>
	<hr>

	<div class = "row">
		<div class= "col-md-5" >
			<br>
			<button style = "float: right;" class="btn btn-primary inline"  id ="update" >Update</button>
			<div class= "table-responsive text-center" >
			   <table  id ="table1" class="table table-bordered table-striped table-highlight">
			        <thead    >
						<tr>
							<th>Oj Name</th>
							<th>NOS</th>  
						</tr>

					</thead>

					<tbody > 
						<tr>
							<td>Uva </td>								 
							<td><i> <span id ="uvacount"> </i></td>  
						</tr> 
					</tbody>

				</table>
			</div>
 

		</div>

		<div class= "col-md-7" >
			<h2 class="section-title center">Skils</h2>
				<div id="LoadingImage" style="display: none">
				  	<img src="{% static 'img/loadimage.gif' %} " >
				</div>
				 <canvas style="display: none" id="profile"  width="500" height="400">
				    
				</canvas>

		</div>

	</div>
   
</div>
<br>
<br>
{%if request.user.username == user.username %}
<div class = "container text-center" >

    <h2 class="subheading">Section</h2>
 
	<button style="float: left;"  class="btn btn-primary inline" id = "create" >Create</button> 
	<button style="float: right;"  class="btn btn-primary inline" id = "join" >Join</button> 



	<br>


	<form id = "form1" style="display: none;" form-url = '{% url "createsection" %}'  >
		<label for="section"><h5> New Section Name: </h5></label>
		<input 
		type = "text" name = "section"><br>
		<input type = "submit"><br>
	</form>

	<form id = "form2"  style="display: none;">
		<label for="section"><h5>Section Name: </h5></label> 
		<input type = "text" name = "section"><br>
		<input type = "submit"><br>
	</form>

	<br>
	<br>


  	<div class= " table-responsive text-center" >
	   <table  id ="table2" class="table table-bordered table-striped table-highlight">
	        <thead    >
				<tr>
					<th>Section Name</th>
					<th>Role</th> 
				</tr>

			</thead>

			<tbody >

			{% for i in user.sections.all %}
				<tr>
					<td><a href="{% url 'section' i.section.pk %} " > {{i.section.name}}</td>
					{% if i.role == 0 %}
						<td>Student</td>
					{% else %}
						<td>Teacher</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>

		</table>
	 
	</div>

</div>
{% endif %} 




{% endblock %}


{% block script %}
    <script src="{% static 'js/RGraph.common.core.js' %}"></script>
    <script src="{% static 'js/RGraph.common.dynamic.js' %}"></script>
    <script src="{% static 'js/RGraph.common.tooltips.js' %}"></script>
    <script src="{% static 'js/RGraph.common.effects.js' %}"></script>
    <script src="{% static 'js/RGraph.radar.js' %}"></script>
    <script src="{% static 'js/skillpie.js' %}"></script>
{% endblock %}