<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('1.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    </style>
    <style>
.button {
    background-color: olive;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    CSE482
  </div>
  <div class="w3-display-middle">
    <h1 id="h" style="font-size:300%;">Welcome to Contest Help</h1>
    <h2>Your Quest for CODE begins here</h2>
    
    <input type="button" class="button" value="Start your journey">
  </div>
  
</div>

</body>
</html>
