{% extends 'base.html' %}

{% block stylesheet%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg { 
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
    </style>
    <style>
input {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer; 
    vertical-align: middle;
}
</style>
{% endblock %}

{% block body %}

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">  
  <div class="w3-display-middle">
    <h1 id="h" style="font-size:300%; color:#00b33c; "  >Welcome to Contest Helper</h1>
    <h3 style="color:#00b33c; ">Your Quest for CODE begins here</h3>
    <a href="/signup">
        <input type="submit" class="btn btn-primary" value="Start your journey"> 
    </a>
    <a href="/login">
    <input type="submit" class="btn btn-primary" value="Have an account?">
    </a>


  </div>
  
</div> 
{% endblock %}
